.mypage-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/mainpage_background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
